<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">


    <title>About us</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Blockchain Client</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Wallet Generator</a>
                    </li>
                    <li class="nav-item">
                        <a href="/make/transaction" class="nav-link">Make Transaction</a>
                    </li>
                    <li class="nav-item">
                        <a href="/view/transactions" class="nav-link">View Transactions</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="/register" class="nav-link" >Signup</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/about" class="nav-link">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <img src="../static/img/what-is-blockchain-the-technology-explained.jpg" class="img-fluid" alt="distributed">
        <!-- <h3 class="text-uppercase" style="position: absolute; top: 43%; left: 50%; transform: translate(-50%, -50%); color: white;">Welcome to Distributed World</h3> -->
    </div>

    <hr class="mb-5 mt-5 featurette-divider">

    <div class="text-center mt-2">
        <h3>What is Blockchain?</h3>
        <div class="container">
            <p>Blockchain, sometimes referred to as Distributed Ledger Technology (DLT), makes the history of any
                digital asset unalterable and transparent through the use of decentralization and cryptographic hashing.
                Blockchain is an especially promising and revolutionary technology because it helps reduce risk, stamps
                out fraud and brings transparency in a scaleable way for myriad uses.
            </p>
            <div class="row ">
                <img class="" style="display: block; margin-left: auto; margin-right: auto; width: 60%;"
                    src="../static/img/blockchain-and-the-supply-chain.png" class="img-fluid" alt="blockchain">
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/lD9KAnkZUjU?autoplay=1" frameborder='0' allowfullscreen>
                    </iframe>
            </div>
        </div>
    </div>

    <hr class="mb-5 mt-5 featurette-divider">

    <div class="container marketing">
        <!-- Services -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Product scanning. <span class="text-muted">It’ll help you to find
                        original product
                        mind.</span></h2>
                <p class="lead">Every product has unique QR code so customer scan that and check product details
                    in Distributed Public Ledger. </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                </svg>

            </div>
        </div>

        <hr class="mb-5 mt-5 featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Supply Chain <span class="text-muted">with Blockchain.</span>
                </h2>
                <p class="lead">The ledger technology can be applied to track fraud in finance, securely share patient
                    medical records between healthcare professionals and even acts as a better way to track intellectual
                    property in business.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                </svg>

            </div>
        </div>

        <hr class="mb-5 mt-5 featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Asset Tracking <span class="text-muted">with Supply Chain.</span></h2>
                <p class="lead">Customer easily track product and get accurate location of product.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                </svg>

            </div>
        </div>
    </div>

    <hr class="mb-5 mt-5 featurette-divider">

    <footer class="container text-center">
        <p>
            © 2020–2021 Blocks, Inc. ·
            <a href="#">Privacy</a>
            ·
            <a href="#">Terms</a>
        </p>
    </footer>



</body>

</html>